<aside id="sidebar" class="span3">
  <h2><a href="/">BradChen.com</a></h2>

  <section>
    <h3>About</h3>

    <p class="avatar">
      <img src="http://www.gravatar.com/avatar/a6543df3fe96f08b76e7ed77326a345b?s=480"
       alt="Brad Chen’s Avatar" />
    </p>

    <p>
      <em>I am a software developer based in Toronto, Ontario. I am
        interested in building beautiful web applications using equally
        elegant solutions.</em>
    </p>
  </section>

  <section>
    <h3>Recent Posts</h3>

    <ol class="no-bullets">
      <% blog.articles[0...8].each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.title %></a>
          <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
        </li>
      <% end %>
    </ol>
  </section>

  <section>
    <h3>Tags</h3>

    <ol class="tags no-bullets">
      <% sorted = blog.tags.sort_by{|k, v| v.size * -1000 + k[0]} %>
      <% sorted.each_with_index do |(tag, articles), i| %>
        <li>
          <i class="icon-tag"></i>
          <a href="<%= tag_path tag %>"><%= tag %></a>
          <span class="meta">(<%= articles.size %>)</span>

          <% if i > 10 %>
            <% break %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </section>

  <section>
    <h3>Follow me on</h3>

    <ul class="no-bullets">
      <li>
        <i class="icon-github"></i>
        <a href="https://github.com/vvasabi">GitHub</a>
      </li>
      <li>
        <i class="icon-linkedin"></i>
        <a href="http://ca.linkedin.com/in/wasabibradchen/">LinkedIn</a>
      </li>
    </ul>
  </section>
</aside>
