<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <%= stylesheet_link_tag 'bootstrap.min', :media => 'all' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min', :media => 'all' %>
    <%= stylesheet_link_tag 'font-awesome', :media => 'all' %>
    <%= stylesheet_link_tag 'pygments', :media => 'all' %>
    <%= stylesheet_link_tag 'style.css', :media => 'all' %>
    <%= javascript_include_tag  'jquery-1.8.3.min' %>
    <%= javascript_include_tag  'bootstrap.min' %>
    <script type="text/javascript" src="//use.typekit.net/fed3zry.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
    var disqus_shortname = 'bradchen';

    // comment count
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0]
        || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    // actual comments
    jQuery(function() {
      if (!jQuery('#disqus_thread').size()) {
        return;
      }

      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(dsq);
    });

    // google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20012498-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')
        + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <title><%= data.page.title %> | BradChen.com</title>
  </head>
  <body>
    <div id="wrapper" class="container">
      <div class="row">
        <section id="main-content" class="span9">
          <% if !data.page.hide_title %>
            <h2><%= link_to data.page.title, '/' + request.path %></h2>
          <% end %>

          <% if data.page.date %>
            <div class="date">
              <%= data.page.date.strftime('%B %e, %Y') %>
            </div>
          <% end %>

          <% if current_page.data.cover_image %>
            <p class="text-center">
              <% link_to '/' + request.path do %>
                <%= image_tag current_page.data.cover_image,
                              :alt => data.page.title %>
              <% end %>
            </p>
          <% end %>

          <%= yield %>

          <% if ! request.path.include? 'index.html' %>
            <p>
              <i class="icon-arrow-left">
                <%= link_to 'Go back', '/' %>
              </i>
            </p>
          <% end %>

          <% if !current_page.data.disable_comments %>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the
              <a href="http://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by
              <span class="logo-disqus">Disqus</span></a>
          <% end %>
        </section>

        <aside id="sidebar" class="span3">
          <h2><a href="/">BradChen.com</a></h2>

          <section>
            <h3>About</h3>

            <p class="avatar">
              <img src="http://www.gravatar.com/avatar/a6543df3fe96f08b76e7ed77326a345b?s=480"
                alt="Brad Chen’s Avatar" />
            </p>

            <p>
              <em>I am a software developer based in Toronto, Ontario. I am
              interested in building beautiful web applications using equally
              elegant solutions.</em>
            </p>
          </section>

          <section>
            <h3>Recent Posts</h3>

            <ol class="no-bullets">
              <% blog.articles[0...8].each do |article| %>
                <li>
                  <a href="<%= article.url %>"><%= article.title %></a>
                  <span class="date">
                    <%= article.date.strftime('%b&nbsp;%e,&nbsp;%Y') %>
                  </span>
                </li>
              <% end %>
            </ol>
          </section>

          <section>
            <h3>Tags</h3>

            <ol class="tags no-bullets">
              <% sorted = blog.tags.sort_by{|k, v| v.size * -1000 + k[0]} %>
              <% sorted.each_with_index do |(tag, articles), i| %>
                <li>
                  <i class="icon-tag">
                    <a href="<%= tag_path tag %>"><%= tag %></a>
                  </i>

                  (<%= articles.size %>)

                  <% if i > 10 %>
                    <% break %>
                  <% end %>
                </li>
              <% end %>
            </ol>
          </section>

          <section>
            <h3>Follow me on</h3>

            <ul class="no-bullets">
              <li>
                <i class="icon-github">
                  <a href="https://github.com/vvasabi">GitHub</a>
                </i>
              </li>
              <li>
                <i class="icon-linkedin">
                  <a href="http://ca.linkedin.com/in/wasabibradchen/">LinkedIn</a>
                </i>
              </li>
            </ul>
          </section>
        </aside>
      </div>

      <footer id="site-footer" class="row">
        &copy; 2010–2013 Brad Chen
      </footer>
    </div>
  </body>
</html>
