<aside id="sidebar" class="col-md-3 col-xs-12">
  <h2><a href="/">BradChen.com</a></h2>

  <section>
    <h3>About</h3>

    <p class="avatar">
      <%= image_tag 'http://www.gravatar.com/avatar/a6543df3fe96f08b76e7ed77326a345b?s=480',
        alt: 'Brad Chen’s Gravatar' %>
    </p>

    <p>
      <em>I am a software developer and a part-time gardener from Toronto, Ontario. I build
        beautiful websites and mobile apps using equally elegant solutions. I also grow pretty
        flowers and organic veggies.</em>
    </p>
  </section>

  <section>
    <h3>Recent Posts</h3>

    <ol class="recent-posts no-bullets">
      <% blog.articles[0...8].each do |article| %>
        <li>
          <i class="icon-file"></i> <%= link_to article.title, article %>
          <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
        </li>
      <% end %>
    </ol>
  </section>

  <section>
    <h3>Tags</h3>

    <ol class="tags no-bullets">
      <% sorted = blog.tags.sort_by{|k, v| v.size * -1000 + k[0].ord} %>
      <% sorted.each_with_index do |(tag, articles), i| %>
        <li>
          <i class="icon-tag"></i> <a href="<%= tag_path tag %>"><%= tag %></a>
          <span class="meta">(<%= articles.size %>)</span>

          <% break if i > 10 %>
        </li>
      <% end %>
    </ol>
  </section>

  <section>
    <h3>Follow me on</h3>

    <ul class="no-bullets">
      <li>
        <i class="icon-github"></i>
        <a href="https://github.com/vvasabi">GitHub</a>
      </li>
      <li>
        <i class="icon-linkedin"></i>
        <a href="http://ca.linkedin.com/in/wasabibradchen/">LinkedIn</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Miscellaneous</h3>

    <ul class="no-bullets">
      <li>
        <i class="icon-info"></i>
        <%= link_to 'Meta', '/meta.html' %>
      </li>
    </ul>
  </section>
</aside>
