---
title: Home
pageable: true
per_page: 6
---
<div class="article-list">
  <% page_articles.each do |article| %>
    <article>
      <%= partial 'partials/article-meta', locals: {
        article: article,
        cover_image: article.data.cover_image,
        path: article.path
      } %>

      <%= article.summary %>

      <%= partial 'partials/article-tags', locals: {tags: article.tags} %>

      <div class="page-links">
        <i class="icon-book"></i>
        <%= link_to 'Read more', article, class: 'read-more' %>

        <i class="icon-chat"></i>
        <%= link_to 'View Comments', article.url + '#disqus_thread' %>
      </div>
    </article>
  <% end %>
</div>

<% if paginate %>
  <div class="pagination">
    <strong>Go to page</strong>
    <ol>
      <% (1..num_pages).each do |i| %>
        <li>
          <% if i == page_number %>
            <span class="curr"><%= i %></span>
          <% else %>
            <%= link_to i, (i == 1) ? '/' : "/page/#{i}/" %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
