---
title: Home
pageable: true
per_page: 8
hide_title: true
disable_comments: true
---
<div class="article-list">
  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h2><%= link_to article.title, article %></h2>

      <div class="date">
        <span><%= article.date.strftime('%B %e, %Y') %></span>
      </div>

      <% if article.data.cover_image %>
        <p class="text-center">
          <% link_to article do %>
            <%= image_tag article.data.cover_image, :alt => article.title %>
          <% end %>
        </p>
      <% end %>

      <p class="page-links">
        <%= link_to 'Read more', article %>
        <%= link_to 'View Comments', article.url + '#disqus_thread' %>
      </p>
    </article>
  <% end %>
</div>

<% if paginate %>
  <div class="pagination">
    <strong>Go to page:</strong>
    <ol>
      <% for i in 1..num_pages %>
        <li>
          <% if i == page_number %>
            <span class="curr"><%= i %></span>
          <% else %>
            <% if i == 1 %>
              <%= link_to i, '/' %>
            <% else %>
              <%= link_to i, '/page/%s/' % i %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
