---
title: Home
pageable: true
per_page: 6
---
<div class="article-list">
  <% page_articles.each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>

      <div class="date">
        <span><%= article.date.strftime('%B %e, %Y') %></span>
      </div>

      <% if article.data.cover_image %>
        <p class="text-center">
          <% link_to article do %>
            <%= image_tag article.data.cover_image, :alt => article.title %>
          <% end %>
        </p>
      <% end %>

      <%= article.summary %>

      <% if !article.tags.empty? %>
        <ul class="article-tags">
          <% article.tags.each do |tag| %>
            <li>
              <i class="icon-tag"></i>
              <a href="<%= tag_path tag %>"><%= tag %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="page-links">
        <i class="icon-book"></i>
        <%= link_to 'Read more', article, :class => 'read-more' %>

        <i class="icon-chat"></i>
        <%= link_to 'View Comments', article.url + '#disqus_thread' %>
      </div>
    </article>
  <% end %>
</div>

<% if paginate %>
  <div class="pagination">
    <strong>Go to page</strong>
    <ol>
      <% for i in 1..num_pages %>
        <li>
          <% if i == page_number %>
            <span class="curr"><%= i %></span>
          <% else %>
            <% if i == 1 %>
              <%= link_to i, '/' %>
            <% else %>
              <%= link_to i, '/page/%s/' % i %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
