---
title: Tag Index
pageable: true
per_page: 12
---
<h2><i class="icon-tag"></i> <%= tagname %></h2>

<ol class="tag-list no-bullets">
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <i class="icon-file"></i>
      <%= link_to article.title, article %>
      <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
    </li>
  <% end %>
</ol>

<% if paginate %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>

  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
